ul {
    list-style-type: none;
}

/* CSS opdracht 1a */
.navbar-one {
    width: 100%;
}

.navbar-one-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* CSS opdracht 1b */
.navbar-two {
    width: 100%;
}

.navbar-two-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* CSS opdracht 1c */
.navbar-three {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-three-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar-three-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* CSS opdracht 1d */
.navbar-four {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-four-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.navbar-four-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    }

.navbar-four-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-grow: 0.75;
}

/* CSS opdracht 1e */
.navbar-five {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-five-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.navbar-five-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.navbar-five-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}